* {
    box-sizing: border-box;
}

nav {
    background-color: #9DC8B4;
    font-weight: bold;
}

body {
    padding: 5px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #454445;
}

a {
    text-decoration: #334761;
    color: #61334a;
}

a:hover {
    color: lightblue;
}

p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.row {
    margin: 0px -18px;
    padding: 5px;
}

.row>.column {
    padding: 5px;
}

.row::after {
    content: "";
    display: flex;
    clear: both;
}

.content {
    background-color: #AABAB7;
    padding: 10px;
    border: 1px solid #2C534B;
}

@media screen and (max-width:1200px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .column {
        width: 100%;
    }
}