section {
    width: 800px;
    height: 800px;
    background-color: #6d6d6d;
}
div {
    background-color: olive;
    width: 50%;
    height: 50%;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;

}
h2 {
    font-size: 2em;
    margin-left: 1em;
}
p {
    font-size: 1em;
    background-color: white
}
article {
    font-size: 20px;
}
button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: lightblue;
    color: white;
}
#ems h2 {
    font-size: 3em;
}
#rems h1 {
    font-size: 3rem;
}